  
<!-- Footer -->
<footer class="bg-dark text-center text-white">
<hr class="colorgraph"> 
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-facebook-f"></i
      ></a>
      
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-linkedin"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" value="Email address" />
              <label class="form-label" for="form5Example2">Don't worry, we won't spam you!</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-white">
          <h5 class="text-uppercase text-white">Finance Apps</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://finance.yahoo.com/" class="text-white">Yahoo! Finance</a>
            </li>
            <li>
              <a href="https://www.google.com/finance/" class="text-white">Google Finance</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-white">References</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://iexcloud.io" class="text-white">iex cloud</a>
            </li>
            <li>
              <a href="https://getbootstrap.com/2.3.2/components.html" class="text-white">Bootstrap</a>
            </li>
            <li>
              <a href="https://mdbootstrap.com/" class="text-white">Material Design</a>
            </li>
            <li>
              <a href="https://www.tradingview.com/widget/ticker-tape/" class="text-white">TradingView - Stock Ticker</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-white">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-white">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://jaren.cudilla.net/ruby-on-rails-cheat-sheet/" class="text-white">Rails Cheatsheet</a>
            </li>
            <li>
              <a href="https://ruby-doc.org/" class="text-white">Ruby Documentation</a>
            </li>
            <li>
              <a href="https://github.com/heartcombo/devise" class="text-white">Devise Gem </a>
            </li>
            <li>
              <a href="https://github.com/dblock/iex-ruby-client" class="text-white">iex-Ruby-Client Gem</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 stockXchange Copyright:
    <a class="text-white" href="https://jaren.cudilla.net/">Jaren Cudilla</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
