<div class="container-fluid" style="max-width: 100%;">
<footer class="bg-dark text-center text-white" style="max-width: 100%;">
  <!-- Copyright -->
  
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 stockXchange Copyright:
    <a class="text-white" href="https://jaren.cudilla.net/">Jaren Cudilla</a>
  </div>
  <!-- Copyright -->
</footer>
</div>

