<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://images.unsplash.com/photo-1611974789855-9c2a0a7236a3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h1 text-light"></i>stockXchange</h5>
      <h2 class="card-title h2 my-4 py-2">Want to earn lots of money right in the comfort of your own home?</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis perferendis vitae cumque et quo impedit.</p>
      <a class="btn btn-secondary btn-lg"><i class="fa fa-question-circle"></i>Read More</a>

    </div>
  </div>
</div>

