<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://mdbcdn.b-cdn.net/img/Photos/Others/forest2.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h3 text-light"></i>stockXchange</h5>
      <h2 class="card-title h2 my-4 py-2">Want to earn lots of money right in the comfort of your own home?</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis perferendis vitae cumque et quo impedit.</p>
      <a class="btn btn-alert"><i class="fa fa-question-circle"></i>Read More</a>

    </div>
  </div>
</div>

