<section class="team-card">
<div class="container py-5">
    <div class="row text-center text-dark">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Meet the Team</h1>
            <p class="lead mb-0">Built on Ruby on Rails. Styled with Bootstrap. Coded by gamers. </p>
        </div>
    </div>
</div><!-- End -->

<div class="team-container">
<div class="container">
    <div class="row text-center">

        <!-- Team item -->
        <div class="col-xl-6 col-sm-6 mb-5" style="margin-top: 40px;">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://ca.slack-edge.com/T010DU0GZE0-U01J1JG9LG1-372c0a84edbb-512" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Jaren Cudilla</h5><span class="small text-uppercase text-muted">Founder</span> /
                <span class="small text-uppercase text-muted">Full Stack Developer</span> /
                <span class="small text-uppercase text-muted">Gamer</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://facebook.com/jaren.cudilla" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/jaren" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://instagram.com/badongpagong" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/jarencharlescudilla/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.github.com/jarencudilla/" class="social-link"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-6 col-sm-6 mb-5" style="margin-top: 40px;">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://ca.slack-edge.com/T010DU0GZE0-U01FHMKHUHE-e70ee0cd31e2-512" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Rommel Torquator</h5><span class="small text-uppercase text-muted">Founder</span> /
                <span class="small text-uppercase text-muted">Full Stack Developer</span> /
                <span class="small text-uppercase text-muted">Gamer</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://www.facebook.com/rommeltorquator09/" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/rommeltorquator/" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/rommel-torquator-4870a799/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.github.com/rommeltorquator/" class="social-link"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->
    </div>
    </div>
</div>
</section>

