<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-striped">
						  <thead>
						    <tr>
						      <th>#</th>
						      <th>Symbol</th>
						      <th>Company Name</th>
						      <th>Price per Quantity</th>
						      <th>Market Price</th>
                  <th>Total Stock purchased</th>
                  <th>Total Amount</th>
                  <th>Broker</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">101</th>
						      <td>AAPL</td>
						      <td>Apple Inc</td>
						      <td>$3000</td>
						      <td>$1200</td>
                  <td>100</td>
						      <td>$12000</td>
                  <td>Jaren | Rommel</td>
						    </tr>

						    <tr>
						      <th scope="row">110</th>
						      <td>AAPL</td>
						      <td>Apple Inc</td>
						      <td>$3000</td>
						      <td>$1200</td>
                  <td>100</td>
						      <td>$12000</td>
                  <td> -- </td>
						    </tr>

						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>