<h1 class="text-center">stockXchange Marketplace</h1>
<br/>
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control" placeholder="Start your search"> <button class="btn btn-primary">Search</button> </div>
        </div>
    </div>
</div>
</div>

<!-- for broker -->
<% if current_broker && current_broker.approved? %>
<h1 class="text-center">stockXchange Marketplace</h1>
<br/>
<%= render 'partials/stock_table_broker'%>
<br/>
<% end %>

<% if current_buyer %>
<h1 class="text-center">stockXchange Marketplace</h1>
<br/>  
<%= render 'partials/stock_table_buyer'%>
<br/>
<% end %>
