@import "bootstrap/dist/css/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  min-height: 100vh;
}

body >.footer {
  padding-top: 60px;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
// .team-card {
//   background: #e8cbc0;
//   background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
//   background: linear-gradient(to right, #e8cbc0, #636fa4);
// }

.text-moneygreen{
  color:#5CDB95;
}

.bg-moneywhite{
  color:#f1f2ed;
}

